# **<u>Cleaning the weather data:</u>**

In [34]:
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

## **<u>Loading the data using Pandas:</u>**

In [62]:
weather = pd.read_csv('../external_data/external_data.csv')

weather.head()

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,hnuage1,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4
0,7149,2021-01-01 00:00:00,100810,80,1,270,1.8,272.75,272.15,96,...,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7149,2021-01-01 03:00:00,100920,110,3,300,1.7,271.25,270.95,98,...,1500.0,2.0,3.0,3000.0,NaN,NaN,NaN,NaN,NaN,NaN
2,7149,2021-01-01 06:00:00,100950,30,3,290,2.6,271.95,271.65,98,...,480.0,4.0,6.0,2000.0,6.0,3.0,3000.0,NaN,NaN,NaN
3,7149,2021-01-01 09:00:00,101100,150,2,280,1.7,272.45,272.05,97,...,1740.0,3.0,3.0,2800.0,NaN,NaN,NaN,NaN,NaN,NaN
4,7149,2021-01-01 12:00:00,101110,30,0,50,1.0,276.95,274.15,82,...,330.0,4.0,6.0,570.0,7.0,6.0,810.0,NaN,NaN,NaN

In [63]:
weather.shape

(3322, 59)

We can already see some challenges with this dataset, as in it contains many features, and has substantial amounts of null values. We can use info to get more details.

In [64]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3322 entries, 0 to 3321
Data columns (total 59 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   numer_sta  3322 non-null   int64
 1   date       3322 non-null   object
 2   pmer       3322 non-null   int64
 3   tend       3322 non-null   int64
 4   cod_tend   3322 non-null   int64
 5   dd         3322 non-null   int64
 6   ff         3322 non-null   float64
 7   t          3322 non-null   float64
 8   td         3322 non-null   float64
 9   u          3322 non-null   int64
 10  vv         3322 non-null   int64
 11  ww         3322 non-null   int64
 12  w1         3315 non-null   float64
 13  w2         3312 non-null   float64
 14  n          3166 non-null   float64
 15  nbas       3317 non-null   float64
 16  hbas       2869 non-null   float64
 17  cl         2909 non-null   float64
 18  cm         1941 non-null   float64
 19  ch         1678 non-null   float64
 20  pres       3322 non-null   int64
 21  niv_bar    0 non-null      float64
 22  geop       0 non-null      float64
 23  tend24     3312 non-null   float64
 24  tn12       830 non-null    float64
 25  tn24       0 non-null      float64
 26  tx12       830 non-null    float64
 27  tx24       0 non-null      float64
 28  tminsol    1 non-null      float64
 29  sw         0 non-null      float64
 30  tw         0 non-null      float64
 31  raf10      3312 non-null   float64
 32  rafper     3322 non-null   float64
 33  per        3322 non-null   int64
 34  etat_sol   3270 non-null   float64
 35  ht_neige   3273 non-null   float64
 36  ssfrai     2877 non-null   float64
 37  perssfrai  2877 non-null   float64
 38  rr1        3313 non-null   float64
 39  rr3        3316 non-null   float64
 40  rr6        3306 non-null   float64
 41  rr12       3300 non-null   float64
 42  rr24       3298 non-null   float64
 43  phenspe1   0 non-null      float64
 44  phenspe2   0 non-null      float64
 45  phenspe3   0 non-null      float64
 46  phenspe4   0 non-null      float64
 47  nnuage1    2873 non-null   float64
 48  ctype1     2524 non-null   float64
 49  hnuage1    2867 non-null   float64
 50  nnuage2    1695 non-null   float64
 51  ctype2     1443 non-null   float64
 52  hnuage2    1695 non-null   float64
 53  nnuage3    618 non-null    float64
 54  ctype3     470 non-null    float64
 55  hnuage3    618 non-null    float64
 56  nnuage4    42 non-null     float64
 57  ctype4     87 non-null     float64
 58  hnuage4    42 non-null     float64
dtypes: float64(48), int64(10), object(1)
memory usage: 1.5+ MB

We can see that we have many null values in the dataset for some of the features, and many features who have at least some values missing. We first deal with the null values.

In [65]:
weather.isna().sum().sort_values(ascending=False)

sw           3322
niv_bar      3322
phenspe4     3322
phenspe3     3322
phenspe2     3322
phenspe1     3322
tw           3322
tx24         3322
tn24         3322
geop         3322
tminsol      3321
nnuage4      3280
hnuage4      3280
ctype4       3235
ctype3       2852
hnuage3      2704
nnuage3      2704
tn12         2492
tx12         2492
ctype2       1879
ch           1644
hnuage2      1627
nnuage2      1627
cm           1381
ctype1        798
hnuage1       455
hbas          453
nnuage1       449
ssfrai        445
perssfrai     445
cl            413
n             156
etat_sol       52
ht_neige       49
rr24           24
rr12           22
rr6            16
w2             10
raf10          10
tend24         10
rr1             9
w1              7
rr3             6
nbas            5
u               0
pmer            0
pres            0
ww              0
vv              0
date            0
td              0
t               0
tend            0
cod_tend        0
dd              0
ff              0
rafper          0
per             0
numer_sta       0
dtype: int64

Many features have more than half of the observations being classified as null. We can also print the percentage of null values for every feature, and drop the features that have more than 70% missing values by convention.

In [66]:
null_percentages = (weather.isnull().sum() / len(weather)) * 100

null_percentages.sort_values(ascending=False)

sw           100.000000
niv_bar      100.000000
phenspe4     100.000000
phenspe3     100.000000
phenspe2     100.000000
phenspe1     100.000000
tw           100.000000
tx24         100.000000
tn24         100.000000
geop         100.000000
tminsol       99.969898
nnuage4       98.735701
hnuage4       98.735701
ctype4        97.381096
ctype3        85.851896
hnuage3       81.396749
nnuage3       81.396749
tn12          75.015051
tx12          75.015051
ctype2        56.562312
ch            49.488260
hnuage2       48.976520
nnuage2       48.976520
cm            41.571343
ctype1        24.021674
hnuage1       13.696568
hbas          13.636364
nnuage1       13.515954
ssfrai        13.395545
perssfrai     13.395545
cl            12.432270
n              4.695966
etat_sol       1.565322
ht_neige       1.475015
rr24           0.722456
rr12           0.662252
rr6            0.481638
w2             0.301023
raf10          0.301023
tend24         0.301023
rr1            0.270921
w1             0.210716
rr3            0.180614
nbas           0.150512
u              0.000000
pmer           0.000000
pres           0.000000
ww             0.000000
vv             0.000000
date           0.000000
td             0.000000
t              0.000000
tend           0.000000
cod_tend       0.000000
dd             0.000000
ff             0.000000
rafper         0.000000
per            0.000000
numer_sta      0.000000
dtype: float64

In [67]:
cat_to_delete = null_percentages[null_percentages > 70]

weather = weather.drop(columns = list(cat_to_delete.index))

In [68]:
null_percentages = (weather.isnull().sum() / len(weather)) * 100

null_percentages.sort_values(ascending=False)

ctype2       56.562312
ch           49.488260
hnuage2      48.976520
nnuage2      48.976520
cm           41.571343
ctype1       24.021674
hnuage1      13.696568
hbas         13.636364
nnuage1      13.515954
ssfrai       13.395545
perssfrai    13.395545
cl           12.432270
n             4.695966
etat_sol      1.565322
ht_neige      1.475015
rr24          0.722456
rr12          0.662252
rr6           0.481638
w2            0.301023
tend24        0.301023
raf10         0.301023
rr1           0.270921
w1            0.210716
rr3           0.180614
nbas          0.150512
numer_sta     0.000000
per           0.000000
rafper        0.000000
date          0.000000
ww            0.000000
vv            0.000000
u             0.000000
td            0.000000
t             0.000000
ff            0.000000
dd            0.000000
cod_tend      0.000000
tend          0.000000
pmer          0.000000
pres          0.000000
dtype: float64

In [69]:
rows_to_delete = null_percentages[null_percentages < 5]

We can also drop rows for features that have less than 5% of null values by convention.

In [70]:
weather = weather.dropna(subset=list(rows_to_delete.index))

In [71]:
null_percentages = (weather.isnull().sum() / len(weather)) * 100

null_percentages.sort_values(ascending=False)

ctype2       53.886010
hnuage2      48.089378
nnuage2      48.089378
ch           46.340674
cm           38.115285
ctype1       19.397668
hnuage1      12.500000
hbas         12.500000
nnuage1      12.305699
perssfrai     7.448187
ssfrai        7.448187
cl            7.091969
etat_sol      0.000000
per           0.000000
rr1           0.000000
ht_neige      0.000000
raf10         0.000000
rr3           0.000000
rr6           0.000000
rr12          0.000000
rr24          0.000000
rafper        0.000000
numer_sta     0.000000
tend24        0.000000
td            0.000000
pmer          0.000000
tend          0.000000
cod_tend      0.000000
dd            0.000000
ff            0.000000
t             0.000000
u             0.000000
date          0.000000
vv            0.000000
ww            0.000000
w1            0.000000
w2            0.000000
n             0.000000
nbas          0.000000
pres          0.000000
dtype: float64

We can see here that we dropped features columns with more than 70% missing data observations. We also removed all rows for features where we had less than 5% null values.

The rest of the features with missing values we don't really need for our analysis so we can just drop them. Altough perssfrai and ssfrai might help in bike prediction since they are related to snow height and this factor can influence bike movement. So we closenly analyze those two.

In [72]:
import seaborn as sns

snow_analysis = weather.loc[:, ['ssfrai', 'ht_neige']]

snow_analysis = snow_analysis[(snow_analysis['ssfrai'] != 0) | (snow_analysis['ht_neige'] != 0)]

snow_analysis.dropna()

     ssfrai  ht_neige
3      0.01      0.01
4      0.00     -0.01
124    0.02      0.00
125    0.01      0.04
126    0.00      0.02
127    0.00      0.02
128    0.00      0.01
129    0.00      0.01
130    0.00     -0.02
131    0.00     -0.02
188    0.01      0.00
731    0.01      0.01
732    0.01      0.02
733    0.01      0.03
734    0.00      0.03
736    0.00      0.01
737    0.00      0.01
738    0.00      0.01
739    0.00      0.01
740    0.00      0.01
741    0.00      0.01
742    0.00      0.01
743    0.00     -0.02
744    0.00     -0.02
745    0.00     -0.02
746    0.00     -0.02
747    0.00     -0.02
748    0.00     -0.02
749    0.00     -0.02
750    0.00     -0.02
751    0.00     -0.02
752    0.00     -0.02
753    0.00     -0.02
754    0.00     -0.02
755    0.00     -0.02
756    0.00     -0.02
757    0.00     -0.02
758    0.00     -0.02
759    0.00     -0.02
760    0.00     -0.02
762    0.00     -0.02
763    0.00     -0.02
764    0.00     -0.02
765    0.00     -0.02
766    0.00     -0.02
767    0.00     -0.02
768    0.00     -0.02
769    0.00     -0.02
770    0.00     -0.02
772    0.00     -0.02

We can see most values are 0 in ssfrai, so we can drop it safely

In [73]:
weather['perssfrai'].value_counts(normalize=True) * 100

-60.0    50.139958
-30.0    49.860042
Name: perssfrai, dtype: float64

In [74]:
weather['perssfrai'].describe()

count    2858.000000
mean      -45.041987
std        15.002566
min       -60.000000
25%       -60.000000
50%       -60.000000
75%       -30.000000
max       -30.000000
Name: perssfrai, dtype: float64

In [75]:
weather['perssfrai'].isna().sum()

230

In [76]:
weather['ssfrai'].value_counts()

0.00    2851
0.01       6
0.02       1
Name: ssfrai, dtype: int64

In [77]:
weather['ssfrai'].isna().sum()

230

In [78]:
fresh_snow_analysis = weather.loc[:, ['ssfrai', 'perssfrai']]

In [79]:
fresh_snow_analysis

      ssfrai  perssfrai
0       0.00      -60.0
1       0.00      -30.0
2       0.00      -60.0
3       0.01      -30.0
4       0.00      -60.0
...      ...        ...
3317    0.00      -30.0
3318    0.00      -60.0
3319    0.00      -30.0
3320    0.00      -60.0
3321    0.00      -30.0

[3088 rows x 2 columns]

In [80]:
cols_to_delete = null_percentages[null_percentages > 0]

cols_to_delete.sort_values(ascending=False)

ctype2       53.886010
nnuage2      48.089378
hnuage2      48.089378
ch           46.340674
cm           38.115285
ctype1       19.397668
hbas         12.500000
hnuage1      12.500000
nnuage1      12.305699
ssfrai        7.448187
perssfrai     7.448187
cl            7.091969
dtype: float64

In [81]:
weather = weather.drop(columns = list(cols_to_delete.index))

weather

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,raf10,rafper,per,etat_sol,ht_neige,rr1,rr3,rr6,rr12,rr24
0,7149,2021-01-01 00:00:00,100810,80,1,270,1.8,272.75,272.15,96,...,2.5,2.5,-10,1.0,0.00,0.0,0.0,0.0,0.0,2.0
1,7149,2021-01-01 03:00:00,100920,110,3,300,1.7,271.25,270.95,98,...,2.2,2.2,-10,1.0,0.00,0.0,0.0,0.0,0.0,1.2
2,7149,2021-01-01 06:00:00,100950,30,3,290,2.6,271.95,271.65,98,...,3.2,3.2,-10,1.0,0.00,0.0,0.0,0.0,0.0,1.0
3,7149,2021-01-01 09:00:00,101100,150,2,280,1.7,272.45,272.05,97,...,2.3,2.3,-10,13.0,0.01,0.0,0.2,0.2,0.2,0.2
4,7149,2021-01-01 12:00:00,101110,30,0,50,1.0,276.95,274.15,82,...,2.5,4.4,-10,11.0,-0.01,0.0,0.0,0.2,0.2,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,7149,2020-09-30 09:00:00,101540,-30,8,230,4.4,289.95,286.85,82,...,7.1,7.1,-10,0.0,0.00,0.0,0.0,0.0,0.0,2.2
3318,7149,2020-09-30 12:00:00,101320,-210,8,190,4.9,292.05,285.55,66,...,7.2,7.2,-10,0.0,0.00,0.0,0.2,0.2,0.2,1.6
3319,7149,2020-09-30 15:00:00,101140,-180,7,190,4.1,291.55,286.45,72,...,6.4,8.4,-10,0.0,0.00,0.0,0.0,0.2,0.2,0.2
3320,7149,2020-09-30 18:00:00,101020,-130,6,190,2.7,290.15,285.25,73,...,4.3,5.2,-10,0.0,0.00,0.0,0.0,0.0,0.2,0.2
3321,7149,2020-09-30 21:00:00,100880,-140,8,170,2.4,288.35,285.85,85,...,3.9,4.2,-10,0.0,0.00,0.0,0.0,0.0,0.2,0.2

In [82]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3088 entries, 0 to 3321
Data columns (total 28 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   numer_sta  3088 non-null   int64
 1   date       3088 non-null   object
 2   pmer       3088 non-null   int64
 3   tend       3088 non-null   int64
 4   cod_tend   3088 non-null   int64
 5   dd         3088 non-null   int64
 6   ff         3088 non-null   float64
 7   t          3088 non-null   float64
 8   td         3088 non-null   float64
 9   u          3088 non-null   int64
 10  vv         3088 non-null   int64
 11  ww         3088 non-null   int64
 12  w1         3088 non-null   float64
 13  w2         3088 non-null   float64
 14  n          3088 non-null   float64
 15  nbas       3088 non-null   float64
 16  pres       3088 non-null   int64
 17  tend24     3088 non-null   float64
 18  raf10      3088 non-null   float64
 19  rafper     3088 non-null   float64
 20  per        3088 non-null   int64
 21  etat_sol   3088 non-null   float64
 22  ht_neige   3088 non-null   float64
 23  rr1        3088 non-null   float64
 24  rr3        3088 non-null   float64
 25  rr6        3088 non-null   float64
 26  rr12       3088 non-null   float64
 27  rr24       3088 non-null   float64
dtypes: float64(17), int64(10), object(1)
memory usage: 699.6+ KB

In [83]:
weather.isna().sum()

numer_sta    0
date         0
pmer         0
tend         0
cod_tend     0
dd           0
ff           0
t            0
td           0
u            0
vv           0
ww           0
w1           0
w2           0
n            0
nbas         0
pres         0
tend24       0
raf10        0
rafper       0
per          0
etat_sol     0
ht_neige     0
rr1          0
rr3          0
rr6          0
rr12         0
rr24         0
dtype: int64

---
---

Computing weighted precipitation to merge the rrN columns based on their importance depending on the time of the day:

In [84]:
def weighted_precip(row):
    # Define morning and evening commuting hours (for example, 6-9 AM and 4-7 PM)
    morning_commute = (row['date'].hour >= 6) & (row['date'].hour <= 9)
    evening_commute = (row['date'].hour >= 16) & (row['date'].hour <= 19)
    
    # Weights for different dates of day
    if morning_commute or evening_commute:
        # Higher weight for recent precipitation during commuting hours
        weights = {'rr24': 1, 'rr12': 2, 'rr6': 3, 'rr3': 4, 'rr1': 5}
    else:
        # Higher weight for longer duration precipitation during other dates
        weights = {'rr24': 5, 'rr12': 4, 'rr6': 3, 'rr3': 2, 'rr1': 1}
    
    # Calculate weighted average
    weighted_sum = sum(row[key] * weight for key, weight in weights.items())
    total_weights = sum(weights.values())
    return weighted_sum / total_weights

weather['date'] = pd.to_datetime(weather['date'])

# Apply the function to calculate weighted precipitation
weather['weighted_precip'] = weather.apply(weighted_precip, axis=1)

In [85]:
weather

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,rafper,per,etat_sol,ht_neige,rr1,rr3,rr6,rr12,rr24,weighted_precip
0,7149,2021-01-01 00:00:00,100810,80,1,270,1.8,272.75,272.15,96,...,2.5,-10,1.0,0.00,0.0,0.0,0.0,0.0,2.0,0.666667
1,7149,2021-01-01 03:00:00,100920,110,3,300,1.7,271.25,270.95,98,...,2.2,-10,1.0,0.00,0.0,0.0,0.0,0.0,1.2,0.400000
2,7149,2021-01-01 06:00:00,100950,30,3,290,2.6,271.95,271.65,98,...,3.2,-10,1.0,0.00,0.0,0.0,0.0,0.0,1.0,0.066667
3,7149,2021-01-01 09:00:00,101100,150,2,280,1.7,272.45,272.05,97,...,2.3,-10,13.0,0.01,0.0,0.2,0.2,0.2,0.2,0.133333
4,7149,2021-01-01 12:00:00,101110,30,0,50,1.0,276.95,274.15,82,...,4.4,-10,11.0,-0.01,0.0,0.0,0.2,0.2,0.2,0.160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,7149,2020-09-30 09:00:00,101540,-30,8,230,4.4,289.95,286.85,82,...,7.1,-10,0.0,0.00,0.0,0.0,0.0,0.0,2.2,0.146667
3318,7149,2020-09-30 12:00:00,101320,-210,8,190,4.9,292.05,285.55,66,...,7.2,-10,0.0,0.00,0.0,0.2,0.2,0.2,1.6,0.653333
3319,7149,2020-09-30 15:00:00,101140,-180,7,190,4.1,291.55,286.45,72,...,8.4,-10,0.0,0.00,0.0,0.0,0.2,0.2,0.2,0.160000
3320,7149,2020-09-30 18:00:00,101020,-130,6,190,2.7,290.15,285.25,73,...,5.2,-10,0.0,0.00,0.0,0.0,0.0,0.2,0.2,0.040000
3321,7149,2020-09-30 21:00:00,100880,-140,8,170,2.4,288.35,285.85,85,...,4.2,-10,0.0,0.00,0.0,0.0,0.0,0.2,0.2,0.120000

merging the pressure values by taking the differnece between the measured pressure and the pressure at sea level:

In [86]:
weather['pres_diff'] = weather['pmer'] - weather['pres']

# weather.drop('pmer', axis=1, inplace=True)

In [87]:
weather

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,per,etat_sol,ht_neige,rr1,rr3,rr6,rr12,rr24,weighted_precip,pres_diff
0,7149,2021-01-01 00:00:00,100810,80,1,270,1.8,272.75,272.15,96,...,-10,1.0,0.00,0.0,0.0,0.0,0.0,2.0,0.666667,1130
1,7149,2021-01-01 03:00:00,100920,110,3,300,1.7,271.25,270.95,98,...,-10,1.0,0.00,0.0,0.0,0.0,0.0,1.2,0.400000,1130
2,7149,2021-01-01 06:00:00,100950,30,3,290,2.6,271.95,271.65,98,...,-10,1.0,0.00,0.0,0.0,0.0,0.0,1.0,0.066667,1130
3,7149,2021-01-01 09:00:00,101100,150,2,280,1.7,272.45,272.05,97,...,-10,13.0,0.01,0.0,0.2,0.2,0.2,0.2,0.133333,1130
4,7149,2021-01-01 12:00:00,101110,30,0,50,1.0,276.95,274.15,82,...,-10,11.0,-0.01,0.0,0.0,0.2,0.2,0.2,0.160000,1110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,7149,2020-09-30 09:00:00,101540,-30,8,230,4.4,289.95,286.85,82,...,-10,0.0,0.00,0.0,0.0,0.0,0.0,2.2,0.146667,1060
3318,7149,2020-09-30 12:00:00,101320,-210,8,190,4.9,292.05,285.55,66,...,-10,0.0,0.00,0.0,0.2,0.2,0.2,1.6,0.653333,1050
3319,7149,2020-09-30 15:00:00,101140,-180,7,190,4.1,291.55,286.45,72,...,-10,0.0,0.00,0.0,0.0,0.2,0.2,0.2,0.160000,1050
3320,7149,2020-09-30 18:00:00,101020,-130,6,190,2.7,290.15,285.25,73,...,-10,0.0,0.00,0.0,0.0,0.0,0.2,0.2,0.040000,1060
3321,7149,2020-09-30 21:00:00,100880,-140,8,170,2.4,288.35,285.85,85,...,-10,0.0,0.00,0.0,0.0,0.0,0.2,0.2,0.120000,1060

---
---

In [88]:
weather.to_csv('weather_v1.csv', index=False)

From 30 September 2020 to January 1st 2021